<!doctype html>
<html>

<head><title>Rohan Kumar Pradhan - 1st Model Deployment</title></head>

<body bgColor = "lightgrey">

<center><h2> Model Deployment - Rohan</h2></center>

<center><p>Welcome to IRIS Data Species Prediction Page<p></center> <br>
<br>
<br>


<center><p>The Iris flower data set or Fisher's Iris data set is a multivariate data set introduced by the British statistician, eugenicist, and biologist Ronald Fisher in his 1936 paper The use of multiple measurements in taxonomic problems as an example of linear discriminant analysis.[1] It is sometimes called Anderson's Iris data set because Edgar Anderson collected the data to quantify the morphologic variation of Iris flowers of three related species.[2] Two of the three species were collected in the Gaspé Peninsula "all from the same pasture, and picked on the same day and measured at the same time by the same person with the same apparatus".<p></center> <br>

<center><a href = "https://en.wikipedia.org/wiki/Iris_flower_data_set"> Click Here to Know more about data </a></center>
<center><a href = "https://archive.ics.uci.edu/ml/datasets/iris"> Click Here to Get the Data </a></center><br>

<center><a href = '/start_prediction'>
Click Here to Start Predicting
</a></center>
<br>
<br>

<center><img src = "{{ url_for('static', filename="maxresdefault.jpg") }}" height="200" width = "300" class = "center"/></center>





</body>

</html>