<!doctype html>

<html>

<head><title>Prediction Page</title></head>

<body bgColor = "lightgrey">

<center><h2> Model Prediction - Rohan </h2></center><br>

<center><p style="color:blue;font-size:18px;">Based in inputs the best guess of the species type is :  <p> </center> 

<center><p style="color:brown;font-size:30px;" >"{{class_result}}"<p></center>

<br>
<br>
<br>
<br>
<br>


<center><a href = '/start_prediction'>
Click Here to Go to Prediction page
</a>
</center>

</body>

</html>

